### dataprep2.ipynb
Use output file from dataprep.ipynb to create dataset for making predictions

In [1]:
import pandas as pd
import numpy as np

# read file
df = pd.read_csv('../output_files/dataprep_output.csv').drop(columns=["DATE", "HOME_TEAM_ABR", "AWAY_TEAM_ABR"])

df_random = df.copy()
df_fixed = df.copy()

df

,HOME_PTS_AVG,AWAY_PTS_AVG,HOME_WIN_RATE_AVG,AWAY_WIN_RATE_AVG,HOME_FT_PCT,AWAY_FT_PCT,HOME_FG_PCT,AWAY_FG_PCT,HOME_FG3_PCT,AWAY_FG3_PCT,HOME_REB_AVG,AWAY_REB_AVG,HOME_AST_AVG,AWAY_AST_AVG,PTS_TOTAL_SCOREBOOK,PTS_TOTAL
0,116.000000,116.000000,0.625000,0.375000,0.786458,0.786458,0.484625,0.484625,0.389292,0.389292,24.875000,24.875000,43.333333,43.333333,228.0,243
1,115.958333,115.958333,0.583333,0.416667,0.769625,0.769625,0.484042,0.484042,0.385417,0.385417,25.166667,25.166667,43.416667,43.416667,232.0,232
2,115.041667,115.041667,0.541667,0.458333,0.772583,0.772583,0.478458,0.478458,0.383000,0.383000,25.166667,25.166667,44.125000,44.125000,215.5,220
3,114.750000,114.750000,0.500000,0.500000,0.761875,0.761875,0.478125,0.478125,0.384875,0.384875,24.875000,24.875000,43.916667,43.916667,222.0,206
4,114.920000,114.920000,0.480000,0.520000,0.762840,0.762840,0.479480,0.479480,0.383240,0.383240,24.480000,24.480000,43.040000,43.040000,232.0,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,NaN,169
5412,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,NaN,191
5413,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,NaN,179
5414,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,NaN,210
5415,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,NaN,197

Remove outliers based on z-score for table values

In [2]:
# file 1: replace NaN values in 'PTS_TOTAL_SCOREBOOK' with random between min and max

import random

na_mask = df_random['PTS_TOTAL_SCOREBOOK'].isna()
min_num = 220
max_num = 240
to_replace = [random.randint(min_num, max_num) for _ in range(na_mask.sum())]
df_random.loc[na_mask, 'PTS_TOTAL_SCOREBOOK'] = to_replace

# set classifier y value (whether actual total is over or under sb total)
df_random = df_random.assign(PTS_TOTAL_OVER_SB = df_random['PTS_TOTAL'] > df_random['PTS_TOTAL_SCOREBOOK']);

df_random = df_random.dropna()

df_random

,HOME_PTS_AVG,AWAY_PTS_AVG,HOME_WIN_RATE_AVG,AWAY_WIN_RATE_AVG,HOME_FT_PCT,AWAY_FT_PCT,HOME_FG_PCT,AWAY_FG_PCT,HOME_FG3_PCT,AWAY_FG3_PCT,HOME_REB_AVG,AWAY_REB_AVG,HOME_AST_AVG,AWAY_AST_AVG,PTS_TOTAL_SCOREBOOK,PTS_TOTAL,PTS_TOTAL_OVER_SB
0,116.000000,116.000000,0.625000,0.375000,0.786458,0.786458,0.484625,0.484625,0.389292,0.389292,24.875000,24.875000,43.333333,43.333333,228.0,243,True
1,115.958333,115.958333,0.583333,0.416667,0.769625,0.769625,0.484042,0.484042,0.385417,0.385417,25.166667,25.166667,43.416667,43.416667,232.0,232,False
2,115.041667,115.041667,0.541667,0.458333,0.772583,0.772583,0.478458,0.478458,0.383000,0.383000,25.166667,25.166667,44.125000,44.125000,215.5,220,True
3,114.750000,114.750000,0.500000,0.500000,0.761875,0.761875,0.478125,0.478125,0.384875,0.384875,24.875000,24.875000,43.916667,43.916667,222.0,206,False
4,114.920000,114.920000,0.480000,0.520000,0.762840,0.762840,0.479480,0.479480,0.383240,0.383240,24.480000,24.480000,43.040000,43.040000,232.0,229,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,226.0,169,False
5412,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,239.0,191,False
5413,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,238.0,179,False
5414,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,240.0,210,False
5415,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,236.0,197,False

In [3]:
# file 2: replace all values with a fixed number

# set fixed number as median points total for each game
fixed_num = df['PTS_TOTAL'].median(skipna=True)#

df_fixed['PTS_TOTAL_SCOREBOOK'] = fixed_num

# set classifier y value (whether actual total is over or under sb total)
df_fixed = df_fixed.assign(PTS_TOTAL_OVER_SB = df_fixed['PTS_TOTAL'] > df_fixed['PTS_TOTAL_SCOREBOOK']);

df_fixed = df_fixed.dropna()

# percentage of y value
print(df_fixed['PTS_TOTAL_OVER_SB'].value_counts( normalize=True).mul(100).astype(str)+'%')

df_fixed

PTS_TOTAL_OVER_SB
False    50.64623338257016%
True     49.35376661742984%
Name: proportion, dtype: object

,HOME_PTS_AVG,AWAY_PTS_AVG,HOME_WIN_RATE_AVG,AWAY_WIN_RATE_AVG,HOME_FT_PCT,AWAY_FT_PCT,HOME_FG_PCT,AWAY_FG_PCT,HOME_FG3_PCT,AWAY_FG3_PCT,HOME_REB_AVG,AWAY_REB_AVG,HOME_AST_AVG,AWAY_AST_AVG,PTS_TOTAL_SCOREBOOK,PTS_TOTAL,PTS_TOTAL_OVER_SB
0,116.000000,116.000000,0.625000,0.375000,0.786458,0.786458,0.484625,0.484625,0.389292,0.389292,24.875000,24.875000,43.333333,43.333333,217.0,243,True
1,115.958333,115.958333,0.583333,0.416667,0.769625,0.769625,0.484042,0.484042,0.385417,0.385417,25.166667,25.166667,43.416667,43.416667,217.0,232,True
2,115.041667,115.041667,0.541667,0.458333,0.772583,0.772583,0.478458,0.478458,0.383000,0.383000,25.166667,25.166667,44.125000,44.125000,217.0,220,True
3,114.750000,114.750000,0.500000,0.500000,0.761875,0.761875,0.478125,0.478125,0.384875,0.384875,24.875000,24.875000,43.916667,43.916667,217.0,206,False
4,114.920000,114.920000,0.480000,0.520000,0.762840,0.762840,0.479480,0.479480,0.383240,0.383240,24.480000,24.480000,43.040000,43.040000,217.0,229,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5411,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,217.0,169,False
5412,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,217.0,191,False
5413,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,217.0,179,False
5414,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,217.0,210,False
5415,92.500000,92.500000,0.500000,0.500000,0.654667,0.654667,0.444667,0.444667,0.404333,0.404333,18.166667,18.166667,44.666667,44.666667,217.0,197,False

In [4]:
# file 3: keep dataframe as normal and remove all NaN values

# set classifier y value (whether actual total is over or under sb total)
df = df.assign(PTS_TOTAL_OVER_SB = df['PTS_TOTAL'] > df['PTS_TOTAL_SCOREBOOK']);

df = df.dropna()

df

,HOME_PTS_AVG,AWAY_PTS_AVG,HOME_WIN_RATE_AVG,AWAY_WIN_RATE_AVG,HOME_FT_PCT,AWAY_FT_PCT,HOME_FG_PCT,AWAY_FG_PCT,HOME_FG3_PCT,AWAY_FG3_PCT,HOME_REB_AVG,AWAY_REB_AVG,HOME_AST_AVG,AWAY_AST_AVG,PTS_TOTAL_SCOREBOOK,PTS_TOTAL,PTS_TOTAL_OVER_SB
0,116.000000,116.000000,0.625000,0.375000,0.786458,0.786458,0.484625,0.484625,0.389292,0.389292,24.875000,24.875000,43.333333,43.333333,228.0,243,True
1,115.958333,115.958333,0.583333,0.416667,0.769625,0.769625,0.484042,0.484042,0.385417,0.385417,25.166667,25.166667,43.416667,43.416667,232.0,232,False
2,115.041667,115.041667,0.541667,0.458333,0.772583,0.772583,0.478458,0.478458,0.383000,0.383000,25.166667,25.166667,44.125000,44.125000,215.5,220,True
3,114.750000,114.750000,0.500000,0.500000,0.761875,0.761875,0.478125,0.478125,0.384875,0.384875,24.875000,24.875000,43.916667,43.916667,222.0,206,False
4,114.920000,114.920000,0.480000,0.520000,0.762840,0.762840,0.479480,0.479480,0.383240,0.383240,24.480000,24.480000,43.040000,43.040000,232.0,229,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2468,108.960000,108.960000,0.440000,0.560000,0.798880,0.798880,0.458840,0.458840,0.352720,0.352720,23.600000,23.600000,44.400000,44.400000,227.5,246,True
2469,109.080000,109.080000,0.440000,0.560000,0.798320,0.798320,0.461320,0.461320,0.350480,0.350480,23.640000,23.640000,44.640000,44.640000,226.0,220,False
2470,110.080000,110.080000,0.480000,0.520000,0.801280,0.801280,0.463160,0.463160,0.352280,0.352280,23.960000,23.960000,44.440000,44.440000,232.0,208,False
2471,109.600000,109.600000,0.480000,0.520000,0.799360,0.799360,0.464880,0.464880,0.355880,0.355880,24.160000,24.160000,43.760000,43.760000,235.0,224,False
2472,110.240000,110.240000,0.480000,0.520000,0.803680,0.803680,0.465040,0.465040,0.362200,0.362200,23.960000,23.960000,43.680000,43.680000,219.5,225,True

In [5]:
#export to .csv file
df_random.to_csv('../output_files/prediction_data_replace_random_sb.csv', encoding='utf-8', index=False)
df_fixed.to_csv('../output_files/prediction_data_fixed_sb.csv', encoding='utf-8', index=False)
df.to_csv('../output_files/prediction_data_unreplaced.csv', encoding='utf-8', index=False)